@import "./colors.scss";
.primary-btn {
  background: $primary !important;
  box-shadow: 0px 5px 10px $primary;
  color: white;
  @extend .btn;
}

.btn {
  padding: 0.85em 1.5em;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  background: $default;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 11px 25px #0000000B;
  .card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:9em;
    background-size: cover;
  }
  .card-body {
    padding:1em;
    
  }

  .card-title {
    font-weight: 600;
    margin-bottom: .5em;
  }
}

@media only screen and (max-width:576px) {
  .container {
    padding-left:.5em;
    padding-right:.5em;

  }
}