@tailwind base;
@tailwind components;
@tailwind utilities;


:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html,
body {
  background:#EDEFF1;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}

.logo {
  font-size: 28px;
  font-weight: 500;
}