@import "../../styles/colors.scss";

header {
  padding: 1.5em 0;
  box-shadow: 0px 3px 4px #70707019;
  a {
    text-decoration: none !important;
  }

  div#header-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;

    ul {
      margin-left: auto;
      li {
        display: inline-block;
        margin-right: 1em;
        margin-left: 1em;
        a.menu-active {
          color: $secondary;
          font-weight: 600;
        }
      }
    }

    a#burger-button {
      margin-left:auto;
      display:none;
    }
  }
}

.force-show {
  display:flex !important;
  
}
@media (max-width: 576px) {
  header {
    div#header-container {
      // flex-direction: column;
      ul {
        display:none;
        flex-direction:column;
        margin-top:2em;
        text-align:center;
        li {
          margin-top:1em;
          margin-bottom:.5em;
        }
      }
      a#burger-button {
        display:block;
        cursor:pointer;
      }
    }
  }
}

@media(min-width:577px) {
  header {
    div#header-container {
      ul {
        display:block;
      }
    }
  }
}